/* Derrek
 * account.css
 * Style sheet for the account.html page, helps with positioning and displays of various information
 * Additionally includes styling from Chris to format the nav bar he created and designed
 */
body {
    margin: 0;
    padding: 0;
}

body, button {
    font-family: 'Poiret One', serif;
}

button {
    background-color: #282121;
    box-shadow: #424242 2px 2px 4px;
    border: #a8a49d 1px solid;
    color: #a8a49d;
}

.filter {
    width: 100px;
    height: 30px;
    border-radius: 10px;
    font-size: large;
}

body {
    background-color: #0e0e0e;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
}

header {
    display: flex;
    justify-content: space-between;
    background-image: url("../../assets/img/carpet-pattern.png");
    background-size: cover;
    padding: 10px;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}

#logo {
    width: 130px;
    height: 60px;
    margin-left: 15px;
}

#navigation {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

nav {
    background-color: rgba(0, 0, 0, 0);
    overflow: hidden;
    margin: 0 10px 0 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    float: right;
    display: inline;
}

nav li a {
    display: block;
    color: #e0c99b;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 0 10px black;
}

nav li p {
    display: block;
    color: #e0c99b;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 0 10px black;
}

#nav1 {
    margin-right: 20px;
}

#nav2 {
    margin-right: 15px;
}

#nav1 li a {
    padding: 14px 10px;
    font-size: 20px;
}

    #nav1 li p {
        margin-top: -1px;
        padding: 14px 10px;
        font-size: 20px;
    }

#nav2 li a {
    padding: 14px 16px;
    font-size: 24px;
}

#logo-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #e0c99b;
    font-size: 20px;
    text-decoration: none;
    padding: 10px;
}

#logo-box p {
    margin-left: 16px;
    margin-top: 5px;
    margin-bottom: 0;
}

#profile-view {
    width: 1000px;
    height: 1000px;
    margin: 20px auto 0;
    padding-top: 120px;
    display: flex;
    color: #d7be8a;
    justify-content: center;
}

#profile-card, #options {
    width: 300px;
    box-shadow: black 0 0 10px;
    background-color: black;
    border-radius: 20px;
}

#profile-card {
    height: 120px;
}

#options {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.options {
    width: 280px;
    margin: 10px;
    border-radius: 10px;
    height: 40px;
    font-size: larger;
}

button:hover {
    cursor: pointer;
}

.profile-display {
    margin: 35px;
}

#info-display {
    margin-left: 20px;
    width: 700px;
    height: 800px;
    box-shadow: black 0 0 10px;
    background-color: black;
    border-radius: 20px;
    padding: 40px;
}

.display-body {
    width: 620px;
    height: 720px;
}

#info {
    width: 624px;
    height: 150px;
}

#profile-card-body {
    padding-top: 10px;
    padding-left: 10px;
}

#upcoming, #previous {
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    width: 700px;
    height: 650px;
    overflow-y: auto;
}

#details {
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
}

h3, h4 {
    margin-bottom: 0;
}

p {
    margin-top: 0;
}

#profile .profile-display, #reservations .profile-display,
#upcoming .reservation-display, #previous .reservation-display, #overview-btn.active,
#profile-btn.active, #reservations-btn.active {
    display: block;
}

.reservation-card {
   width: 640px;
   height: 70px;
   border: #545454 1px solid;
   background-color: #171717;
   box-shadow: #343434 0 0 10px;
   display: flex;
   justify-content: space-evenly;
   margin-bottom: 10px;
   border-radius: 10px;
}

.reservation-display {
    display: flex;
    flex-wrap: wrap;
}

.top {
    margin-bottom: 10px;
}

.top > div{
    display: flex;
    gap: 40px;
}

.top > div > div > p {
    margin: 0px 0;
}

.bottom > div {
    display: flex;
    gap: 50px;
}

.bottom > div > div > p {
    margin: 0px 0;
}

