/*
 * 
 */

 body {
    margin: 0;
    padding: 0;
}

#profile-view {
    width: 1000px;
    height: 1000px;
    margin: 20px auto 0;
    display: flex;
}

nav {
    /* copy chris nav styling here */
    background-color: #555;
    padding: 30px;
    display: flex;
    justify-content: right;
}

#profile-card, #options {
    width: 220px;
    background-color: teal;
    border-radius: 20px;
}

#profile-card {
    height: 120px;
}

#options {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.options {
    width: 200px;
    margin: 10px;
    border-radius: 10px;
    border-color: transparent;
}

.options:hover {
    cursor: pointer;
}

.profile-display {
    margin: 35px;
}

#info-display {
    margin-left: 20px;
    width: 700px;
    height: 800px;
    background-color: teal;
    border-radius: 20px;
    padding: 40px;
}

.display-body {
    width: 620px;
    height: 720px;
}

#info {
    width: 624px;
    height: 150px;
}

#profile-card-body {
    padding-top: 10px;
    padding-left: 10px;
}

#upcoming, #previous {
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    width: 620px;
    height: 650px;
    border: 5px solid black;
    overflow-y: auto;
}

#details {
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
}

h3, h4 {
    margin-bottom: 0;
}

p {
    margin-top: 0;
}

#overview .profile-display, #profile .profile-display, #reservations .profile-display, #payment .profile-display,
#settings .profile-display, #upcoming .reservation-display, #previous .reservation-display, #overview-btn.active,
#profile-btn.active, #reservations-btn.active,#payment-btn.active, #settings-btn.active {
    display: block;
}