/*
 *
 */

body {
    margin: 0;
    padding: 0;
}

/* temp nav */
nav {
    /* copy chris nav styling here */
    background-color: #555;
    padding: 30px;
    display: flex;
    justify-content: right;
}



#register {
    width: 1000px;
    height: 100%;

    margin: 20px auto 0;
}

.required-inputs {
    display: flex;
}

.required-inputs {
    display: flex;
    gap: 40px;
}

label {
    display: block;
}

input {
    width: 450px;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 30px;
}

#create-account {
    width: 450px;
    height: 50px;
    font-size: 20px;
}

#popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    display: none;
    margin: 20px auto 0;

}

#popup-body {
    position: fixed;
    width: 800px;
    height: 400px;
    border: 2px solid black;
    border-radius: 5px;
    background-color: white;
    left: 25%;
    top: 25%;
    border-radius: 30px;
}

#login {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

#sign-in-button {
    width: 20%;
    height:30px;
}

button:hover {
    cursor: pointer;
}